<section class="header" id="myHeader">
  <div class="logo">
    <img src="/images/LOGO.png" alt="Defence" loading="eager">
  </div>
  <nav class="nav-menu ">
    <div class="menu">
      <button mat-button class="menu__btn">Home</button>
      <button mat-button class="menu__btn">Our Service</button>
      <button mat-button class="menu__btn">About Us</button>
      <button mat-button class="menu__btn">Contact Us</button>
    </div>
    <button  mat-button class="auth-btn">Sign In</button>
  </nav>
  
  
</section>