<section class="header" id="myHeader">
  <div class="logo">
    <img src="/images/LOGO.png" alt="Defence" loading="eager" />
  </div>
  <nav class="nav-menu">
    <div class="menu">
      <button (click)="openPage( isAuthorize? '/home' : '/welcome')" mat-button class="menu__btn">{{ "Home" | translate }}</button>
      <button mat-button class="menu__btn">
        {{ "Our Service" | translate }}
      </button>
      <button mat-button class="menu__btn">{{ "About Us" | translate }}</button>
      <button mat-button class="menu__btn">
        {{ "Contact Us" | translate }}
      </button>
    </div>
    <button mat-button class="menu__btn" [matMenuTriggerFor]="menu">
      {{ "Language" | translate }}
    </button>
    <mat-menu #menu="matMenu">
      <button
        [disabled]="currentLanguage === 'en'"
        (click)="useLanguage('en')"
        mat-menu-item
      >
        English
      </button>
      <button
        [disabled]="currentLanguage === 'uk'"
        (click)="useLanguage('uk')"
        mat-menu-item
      >
        Українська
      </button>
    </mat-menu>
    <a
      *ngIf="!isAuthorize; else authorize"
      mat-button
      [routerLink]="['/login']"
      routerLinkActive="router-link-active"
      class="auth-btn"
      >{{ "Sign In" | translate }}</a
    >
    <ng-template #authorize>
      <a
        mat-button
        [routerLink]="['/welcome']"
        (click)="logOut()"
        routerLinkActive="router-link-active"
        class="auth-btn"
        >{{ "Log Out" | translate }}</a
      >
    </ng-template>
  </nav>
</section>
