<!-- defence express section -->
<section class="info-section first-section">
  <div class="eclipse">
    <div class="block wrapper-padding">
      <div class="block-info">
        <h2 class="block-info__header">{{ "Defence Express" | translate }}</h2>
        <p class="block-info__text">
          {{
            "Reliable, fast, high-quality protection of your perimeter from unauthorized intruders. We work using advanced recognition technologies."
              | translate
          }}
        </p>
      </div>
    </div>
  </div>
</section>
<!-- our service section -->
<section class="info-section color1">
  <div class="block wrapper-padding col-reverse">
    <div class="block-info paddin-l">
      <h3 class="block-info__header3">{{ "Defence Express" | translate }}</h3>
      <p class="block-info__text">
        {{
          "Reliable, fast, high-quality protection of your perimeter from unauthorized intruders. We work using advanced recognition technologies."
            | translate
        }}
      </p>
    </div>
    <img
      src="/images/welcomePg/security_service.svg"
      alt="Security"
      class="block__image"
    />
  </div>
</section>
<!-- Perspective section -->
<section class="info-section color2">
  <div class="card-blocks">
    <h3 class="card-blocks__header">Why you should choose us</h3>
    <div class="card-block wrapper-padding">
      <div class="card-block__card card">
        <img
          class="card__image"
          src="/images/welcomePg/effectivity.svg"
          alt="Effective img"
        />
        <h4 class="card__header">Effective</h4>
        <p class="card__text">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Sapiente,
          impedit sunt labore asperiores aperiam vel quo ullam deserunt enim non
          ratione molestias facere explicabo? Illum temporibus voluptatibus
          rerum soluta eveniet?
        </p>
      </div>
      <div class="card-block__card card">
        <img
          class="card__image"
          src="/images/welcomePg/professional.svg"
          alt="Professional img"
        />
        <h4 class="card__header">Professional</h4>
        <p class="card__text">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Sapiente,
          impedit sunt labore asperiores aperiam vel quo ullam deserunt enim non
          ratione molestias facere explicabo? Illum temporibus voluptatibus
          rerum soluta eveniet?
        </p>
      </div>
      <div class="card-block__card card">
        <img
          class="card__image"
          src="/images/welcomePg/deverse.svg"
          alt="Effective img"
        />
        <h4 class="card__header">Deverse</h4>
        <p class="card__text">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Sapiente,
          impedit sunt labore asperiores aperiam vel quo ullam deserunt enim non
          ratione molestias facere explicabo? Illum temporibus voluptatibus
          rerum soluta eveniet?
        </p>
      </div>
    </div>
  </div>
</section>
<!-- about us section -->
<section class="info-section color3">
  <div class="block wrapper-padding">
    <div class="block-info paddin-r">
      <h3 class="block-info__header3">{{ "About Us" | translate }}</h3>
      <p class="block-info__text">
        {{
          "Reliable, fast, high-quality protection of your perimeter from unauthorized intruders. We work using advanced recognition technologies."
            | translate
        }}
      </p>
    </div>
    <img
      src="/images/welcomePg/about_us.svg"
      alt="About us"
      class="block__image"
    />
  </div>
</section>
<!-- Clients response -->
<section class="info-section color1">
  <div class="card-blocks">
    <h3 class="card-blocks__header">What clients say</h3>
    <div class="card-block wrapper-padding">
      <div class="card-block__card card response-card unFocused">
        <img
          class="card__image response-card__image"
          src="/images/welcomePg/response_pic-2.svg"
          alt="Client img"
        />
        <div class="card__header stars-bar">
          <img src="/images/welcomePg/star.svg" class="star" alt="start" />
          <img src="/images/welcomePg/star.svg" class="star" alt="start" />
          <img src="/images/welcomePg/star.svg" class="star" alt="start" />
          <img src="/images/welcomePg/star.svg" class="star" alt="start" />
          <img src="/images/welcomePg/star.svg" class="star" alt="start" />
        </div>
      </div>
      <div class="card-block__card card response-card onFocus">
        <img
          class="card__image response-card__image"
          src="/images/welcomePg/response_pic-1.svg"
          alt="Client img"
        />
        <div class="card__header stars-bar">
          <img src="/images/welcomePg/star.svg" class="star" alt="start" />
          <img src="/images/welcomePg/star.svg" class="star" alt="start" />
          <img src="/images/welcomePg/star.svg" class="star" alt="start" />
          <img src="/images/welcomePg/star.svg" class="star" alt="start" />
          <img src="/images/welcomePg/star.svg" class="star" alt="start" />
        </div>
        <p class="card__text">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Sapiente,
          impedit sunt labore asperiores aperiam vel quo ullam deserunt enim non
          ratione molestias facere explicabo? Illum temporibus voluptatibus
          rerum soluta eveniet?
        </p>
      </div>
      <div class="card-block__card card response-card unFocused">
        <img
          class="card__image response-card__image"
          src="/images/welcomePg/response_pic-3.svg"
          alt="Client img"
        />
        <div class="card__header stars-bar">
          <img src="/images/welcomePg/star.svg" class="star" alt="start" />
          <img src="/images/welcomePg/star.svg" class="star" alt="start" />
          <img src="/images/welcomePg/star.svg" class="star" alt="start" />
          <img src="/images/welcomePg/star.svg" class="star" alt="start" />
          <img src="/images/welcomePg/star-grey.svg" class="star" alt="start" />
        </div>
        <p class="card__text"></p>
      </div>
    </div>
  </div>
</section>
<!-- contact us section-->
<section class="info-section color2">
  <div class="block wrapper-padding jc">
    <div class="block-info change-width">
      <h3 class="block-info__header3">{{ "Contact Us" | translate }}</h3>
      <div class="block-info__feedback feedback">
        <div class="feedback__container">
          <button mat-fab extended class="feedback__button btn">
            <mat-icon  class="btn__image">mail</mat-icon>
            <div class="btn__text">
              Chat with Us
              <p class="btn__value">example&#64;gmail.com</p>
            </div>
          </button>
          <button mat-fab extended class="feedback__button btn">
            <mat-icon class="btn__image">phone</mat-icon>
            <div class="btn__text">
              Chat with us
              <p class="btn__value">{{'+380123456789'}}</p>
            </div>
          </button>
          <button mat-fab extended class="feedback__button btn">
            <mat-icon class="btn__image">location_on</mat-icon>
            <div class="btn__text">
              Office
              <p class="btn__value">Kharkiv, Ukraine</p>
            </div>
          </button>
          
        </div>
      </div>
    </div>
    <form class="block__form form">
      <mat-form-field class="form__field" appearance="outline">
        <mat-label>Your name</mat-label>
        <input matInput placeholder="Ex. Alex" value="MaxTen">
      </mat-form-field>
      <mat-form-field class="form__field" appearance="outline">
        <mat-label>Your Email</mat-label>
        <input matInput placeholder="Ex. Alex@ex.com" >
      </mat-form-field>
      <mat-form-field class="form__field" appearance="outline">
        <mat-label>Subject</mat-label>
        <input matInput placeholder="Ex. Access problem">
      </mat-form-field>
    
      <mat-form-field class="form__field" appearance="outline">
        <mat-label>Message</mat-label>
        <textarea matInput placeholder="Ex. I can`t login in..."></textarea>
      </mat-form-field>
      <button class="form__btn" mat-stroked-button>Send</button>
    </form>
  </div>
</section>
<footer>

</footer>
